@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;

  @media (max-width: 414px) {
    margin: 0;
  }
}

.white-color {
  color: #ffff;
}

.main-section {
  @include  main-background(url(../images/banner.png))
}

.promo {
  @media (max-width: 414px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
