.btn-artist {
  @include btn-artist($color-purpule);

  display: flex;
  align-items: center;
  padding: 0;
}

.d-block {
  margin: 0;
}

.btn-orange {
  @include btn-artist($color-red);

  margin-left: 24px;
  display: flex;
  align-items: center;
  padding: 0;

  @media (max-width: 414px) {
    margin: 24px 0 0;
  }
}

.buttons-artist {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  padding-bottom: 223px;

  @media (max-width: 414px) {
    flex-direction: column;
    padding-bottom: 224px;
  }
}

.main-section-artist {
  @include main-background(url("../images/MortenHarket.png"));
}

.popular-artist {
  padding-top: 100px;

  @media (max-width: 414px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

a {
  display: block;
}

.popular-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 551px;

  @media (max-width: 414px) {
    width: 374px;
  }
}

.track-info {
  margin-left: 15px;
}

.m-0 {
  margin: 0;
}

.track {
  @include font(12.8px, 19.2px, bold, uppercase);
}

.artist {
  @include font(12.8px, 19.2px, 400, none);
}

.time {
  @include font(12.8px, 19.2px, 400, none);
}

.img-info {
  display: flex;
  align-items: center;
}

.m-48 {
  margin-top: 48px;
}

.flex-tracks {
  display: flex;

  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.second-tracks {
  margin-left: 50px;

  @media (max-width: 414px) {
    margin-left: 0;
    margin-top: 25px;
  }
}

.m-25 {
  margin-top: 25px;
}

.mobile {
  @media (max-width: 414px) {
    margin-top: 0;
  }
}

.title2-artist {
  @include font(38px, 57px, 700, uppercase);

  text-align: left;

  @media (max-width: 414px) {
    @include font(18px, 27px, 700, uppercase);
  }
}

.title3-artist {
  @include font(18px, 27px, 700, none);

  margin: 0;

  @media (max-width: 414px) {
    width: 138px;
  }
}

.discography-info {
  margin-top: 10px;
}

.disckografiya {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.m-50 {
  margin-left: 50px;
}

.w-137 {
  margin: 0;

  @media (max-width: 414px) {
    width: 137px;
    height: 137px;
  }
}

.m-mob {
  @media (max-width: 414px) {
    margin-left: 0;
    margin-top: 25px;
  }
}

.mm {
  @media (max-width: 414px) {
    margin-left: 0;
  }
}

.discography-item4 {
  @media (max-width: 414px) {
    margin-top: 25px;
  }
}

.similar-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 414px) {
    width: 137px;
  }
}

.promo-text-artist {
  @include font(16px, 24px, 400, none);

  text-align: left;
  color: $color-text;
}

.color {
  color: #e0e0e0;
}

.txt-alg {
  text-align: center;
  width: auto;
}

.mm-25 {
  @media (max-width: 414px) {
    margin-top: 25px;
  }
}

.similar-info {
  margin-top: 18px;
}

.m-25-mob {
  @media (max-width: 414px) {
    margin-top: 25px;
  }
}

.p-100 {
  padding-bottom: 100px;
}

.mix {
  filter: invert(1);
  margin: 21px 16px 21px 31px;
}

.promo-title-artist {
  text-align: left;
  margin: 0;
  margin-top: 200px;
  letter-spacing: -0.05em;

  @media (max-width: 414px) {
    @include font(30px, 45px, 700, uppercase);

    margin-top: 55px;
    letter-spacing: 0;
  }
}
