body {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: $color-text;
  background-color: $background-color;

  h1 {
    @include font(60px, 90px, bold, uppercase);

    @media (max-width: 414px) {
      @include font(30px, 45px, bold, uppercase);
    }
  }

  h2 {
    @include font(38px, 57px, bold, uppercase);

    margin: 0;
    text-align: center;
  }

  @media (max-width: 414px) {
    @include font(18px, 27px, 700, uppercase);
  }
}

h3 {
  @include font(24px, 36px, 400, uppercase);
}

.title2 {
  @include font(38px, 57px, bold, uppercase);

  margin: 0;
  text-align: center;

  @media (max-width: 414px) {
    @include font(18px, 27px, 700, uppercase);
  }
}

.promo-title {
  text-align: center;
  margin: 0;
  margin-top: 150px;

  @include font(60px, 90px, bold, uppercase);

  @media (max-width: 414px) {
    @include font(30px, 45px, 700, uppercase);
    margin-top: 78px;
  }
}

.promo-title2 {
  @include font(38px, 57px, 700, uppercase);
  text-align: center;
  margin: 0 0 30px;

  @media (max-width: 414px) {
    @include font(18px, 27px, 700, uppercase);
    margin-bottom: 16px;
  }
}

.promo-text {
  @include font(16px, 24px, 400, none);
  text-align: center;
}

.form-name {
  &::placeholder {
    color: $color-text;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.05em;
  }
  width: 273px;
  height: 50px;
  background: none;
  border: solid 2px $color-gray;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 1.5rem;

  @media (max-width: 414px) {
    width: 374px;
    margin: 0;
    margin-bottom: 24px;
  }
}

.promo-button {
  @include font(13.3px, 15.29px, 400, uppercase);

  width: 570px;
  height: 60px;
  background: $color-green;
  color: $color-text;
  border: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 414px) {
    width: 374px;
  }
}

.mm-24 {
  margin-left: 20px;

  @media (max-width: 414px) {
    margin-left: 0;
  }
}

.button {
  @media (max-width: 414px) {
    margin: 0;
  }
}

.form {
  text-align: center;
  padding-bottom: 200px;
}

.main {
  padding-top: 100px;
}

.middle-img {
  @media (max-width: 414px) {
    vertical-align: middle;
  }
}

ul {
  padding: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
