body{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: $color-text;
    background-color: $background-color;

    h1{
        font-size: 60px;
        line-height: 90px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2{
        font-size: 38px;
        line-height: 57px;
        font-weight: bold;
        text-transform: uppercase;
    }

    @media (viewport: 414px){
        h1{
            font-size: 30px;
            line-height: 45px;
            font-weight: bold;
            text-transform: uppercase;
        }
    
        h2{
            font-size: 18px;
            line-height: 27px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}