.pricing-item {
  width: 414px;
  height: 615px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  box-sizing: border-box;

  @media (max-width: 414px) {
    width: 374px;
    height: 595px;
  }
}

.bg-free1 {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}

.count {
  @include font(64px, 1em, 400, uppercase);

  margin: 0;
  margin-right: 16px;
}

.rubl {
  @include font(32px, 48px, 400, uppercase);

  margin: 0;
}

.pricing-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;

  .btn {
    text-decoration: none;
    padding-top: 21px;
    padding-bottom: 21px;
    width: 318px;
    height: 66px;

    @include font(16px, 24px, 400, uppercase);

    color: $color-text;
    border: solid 1px $color-text;
    border-radius: 5px;
    background: none;
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin-bottom: 64px;
  }
}

.pricing-footer {
  @include font(12.8px, 19.2px, 400, none);

  text-align: center;
  margin: 0;
}

.bg-free2 {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
  margin: 0 50px;

  @media (max-width: 414px) {
    margin: 50px 0;
  }
}

.bg-free3 {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}

.cards {
  display: flex;
  margin-top: 50px;

  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.pricing-footer-main {
  @include font(16px, 24px, 400, none);

  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.price {
  @include font(24px, 36px, 400, uppercase);
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;

  @media (max-width: 414px) {
    @include font(16px, 24px, 400, uppercase);

    padding-top: 0;
    margin-top: 16px;
  }
}
