.footer{
    padding-top: 62px;
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}


.footer-title{
    text-align: left;
    @include font(18px, 27px, 700, uppercase);
    margin-bottom: 15px;
}

.footer-text{
    @include font(16px, 24px, 400, none);
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    color: $color-text;
    margin: 0;
}

.footer-flex{
    display: flex;

    @media (max-width: 414px) {
        flex-direction: column;        
    }
}

.coloumn{
    width: 270px;
}

.coloumn2{
    margin-left: 40px;
    margin-right: 40px;
    @media (max-width: 414px) {
        margin: 30px 0;     
    }
}

.footer-img{
    display: flex;
}

.twitter{
    margin: 0 24px 0 24px;
}

.coloumn3{
    margin-left: 40px;

    @media (max-width: 414px) {
        margin: 30px 0 0 0;     
    }
}

.main-f{
 

    @media (max-width: 414px) {
        padding: 0 20px;      
    }
}

.footer-contacts{
    margin-bottom: 72px;
}

.border{
    width: 100%;
    box-sizing: border-box;
    background-color: $color-gray;
    margin-top: 72px;
}

.footer-and{
   margin-top: 40px;
   display: flex;
   padding-bottom: 49px;

   @media (max-width: 414px) {
    flex-direction: column;     
}
}

.footer-text2{
    margin-left: 16px;
    margin-right: 16px;

    @media (max-width: 414px) {
        margin: 16px 0;
    }
}


.footer-text{
    @include font(16px, 24px, 400, none);
}
