.footer{
    display: grid;
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}


.footer-title{
    text-align: left;
    @include font(18px, 27px, 700, uppercase);
    margin-bottom: 15px;
}

.footer-text{
    @include font(16px, 24px, 400, none);
    margin: 0;
}

.footer-flex{
    display: flex;
}

.coloumn{
    width: 270px;
}

.coloumn2{
    margin-left: 40px;
    margin-right: 40px;
}

.footer-img{
    display: flex;
   
}

.twitter{
    margin: 0 24px 0 24px;
}

.coloumn3{
    margin-left: 40px;
}

.main-f{
    margin-top: 62px;
}

.footer-contacts{
    margin-bottom: 72px;
}

.border{
    width: 100vw;
    height: 1px;
    background-color: $color-gray;
    margin-top: 72px;
}

.footer-and{
    
   margin-top: 40px;
}