.header {
  padding: 0;
  padding-top: 25px;

  @media (max-width: 414px) {
    padding-top: 25px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 414px) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.logo-nav {
  display: flex;
  align-items: center;

  @media (max-width: 414px) {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}

.navigation {
  display: flex;
  font-size: 11px;

  @media (max-width: 414px) {

    flex-direction: column;
    padding: 0;
    margin-top: 10px;
  }

  .m-24 {
    padding-right: 24px;
  }

  .navigation-link {
    color: #cacaca;
    padding-right: 24px;
    height: 13px;

    @media (max-width: 414px) {
      font-weight: bold;
      padding: 0;
      height: 17px;
    }
  }
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  @media (max-width: 414px) {
    height: 24px;
  }

  .logo-text {
    margin: 0 90px 0 16px;
    text-decoration: none;
    font-size: 11px;
    height: 13px;

    @media (max-width: 414px) {
      margin-right: 0;
      height: 26px;
    }
  }

  .logo-img {
    width: 24px;
    height: 24px;
  }
}

.input-header {
  background-color: #3c3b3d;
  width: 248px;
  height: 25px;
  padding: 0 0 0 10px;
  border: none;
  border-radius: 50px;

  @media (max-width: 414px) {
    margin-top: 18px;
    width: 374px;
  }

  &::placeholder {
    color: #757575;

    @include font(13.3px, 15.29px, 400, uppercase);
  }
}
