.header{
    padding-bottom: 25px;
}

.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation_link{
    list-style: none;
    padding: 0 24px;
}