@import url("https://fonts.googleapis.com/css2? family= Open+Sans & display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  background-color: #08020d;
}
body h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  body h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
  }
}
body h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
@media (max-width: 414px) {
  body {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.title2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
@media (max-width: 414px) {
  .title2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }
}

.input-header {
  background-color: #3c3b3d;
  width: 248px;
  height: 25px;
  margin: 0;
  padding-left: 10px;
  border: none;
  border-radius: 50px;
}
@media (max-width: 414px) {
  .input-header {
    width: 374px;
  }
}
.input-header::placeholder {
  color: #757575;
  margin: 5px 0 5px 10px;
}

.promo__title {
  text-align: center;
  margin: 0;
  margin-top: 150px;
}
@media (max-width: 414px) {
  .promo__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
    margin-top: 78px;
  }
}

.promo__title2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 30px;
}
@media (max-width: 414px) {
  .promo__title2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}

.promo__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  text-align: center;
}

.form_name {
  width: 273px;
  height: 50px;
  background: none;
  border: solid 2px #CACACA;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 1, 5rem;
  margin-left: 24px;
}
.form_name::placeholder {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 414px) {
  .form_name {
    width: 374px;
    margin: 0;
    margin-bottom: 16px;
  }
}

.promo_button {
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  text-transform: uppercase;
  width: 570px;
  height: 57px;
  background: #34C176;
  color: white;
  border: none;
  border-radius: 5px;
}
@media (max-width: 414px) {
  .promo_button {
    width: 374px;
    margin-top: 8px;
  }
}

.button {
  margin-left: 24px;
  margin-top: 24px;
}
@media (max-width: 414px) {
  .button {
    margin: 0;
  }
}

.form {
  text-align: center;
  padding-bottom: 200px;
}

.main {
  padding-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 414px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pricing-item {
  width: 368px;
  height: 615px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.bg-free1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.count {
  font-size: 64px;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
  margin-right: 16px;
}

.rubl {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
}

.pricing-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}
a .btn {
  text-decoration: none;
  width: 318px;
  height: 66px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  background: none;
  margin: 0 auto;
  display: block;
  margin-bottom: 64px;
}

.pricing-footer {
  font-size: 12.8px;
  font-weight: 400;
  line-height: 19.2px;
  text-transform: none;
  text-align: center;
  margin: 0;
}

.bg-free2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
  margin: 0 50px;
}
@media (max-width: 414px) {
  .bg-free2 {
    margin: 50px 0;
  }
}

.bg-free3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.cards {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 414px) {
  .cards {
    flex-direction: column;
  }
}

.pricing-footer-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.price {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 0;
}
@media (max-width: 414px) {
  .price {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
  }
}

body {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 414px) {
  body {
    margin: 0;
  }
}

.white-color {
  color: white;
}

.main-section {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 414px) {
  .promo {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  padding: 0;
}
@media (max-width: 414px) {
  .header {
    padding-top: 25px;
  }
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .header_wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.navigation {
  color: #CACACA;
  list-style-type: none;
  display: flex;
  font-size: 11px;
}
@media (max-width: 414px) {
  .navigation {
    flex-direction: column;
    padding: 0;
  }
}
.navigation .navigation_link {
  list-style: none;
  padding: 0 24px;
}
@media (max-width: 414px) {
  .navigation .navigation_link {
    font-weight: bold;
    padding: 0;
  }
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}
@media (max-width: 414px) {
  .logo {
    height: 24px;
  }
}
.logo .logo-text {
  margin-right: 90px;
  margin-left: 16px;
  text-decoration: none;
  font-size: 11px;
}
.logo .logo-img {
  width: 24px;
  height: 24px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .wrapper {
    max-width: 100%;
  }
}

.new-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  text-transform: capitalize;
  margin: 0;
}
@media (max-width: 414px) {
  .new-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
  }
}

.news-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  text-align: left;
  color: #CACACA;
  margin: 30px 0 24px 0;
}

.orange-color {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-transform: uppercase;
  color: #F89202;
  margin: 0 16px;
}

.news-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-transform: uppercase;
  color: #CACACA;
  margin: 0;
}

.news-author {
  display: flex;
}

.news-btn {
  width: 135px;
  height: 53px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-transform: uppercase;
  color: #CACACA;
  text-decoration: none;
  background: none;
  border: solid 1px #CACACA;
  border-radius: 5px;
  margin-top: 48px;
}

.news-item {
  display: flex;
  margin-top: 50px;
}
@media (max-width: 414px) {
  .news-item {
    flex-direction: column;
  }
}

.news {
  margin-left: 50px;
}
@media (max-width: 414px) {
  .news {
    margin-left: 0;
    margin-top: 50px;
  }
}

.news-item2 {
  flex-direction: row-reverse;
  margin-top: 65px;
}
@media (max-width: 414px) {
  .news-item2 {
    flex-direction: column;
  }
}

.news2 {
  margin-right: 50px;
}
@media (max-width: 414px) {
  .news2 {
    margin-right: 0;
    margin-top: 50px;
  }
}

.app-description {
  width: 600px;
  margin: 64px 0 16px 0;
}
@media (max-width: 414px) {
  .app-description {
    margin: 16px 0 0 0;
  }
}

.app-btn {
  width: 131px;
  height: 53px;
  color: white;
  text-decoration: none;
  border-radius: 32px;
  background-color: #95390C;
  border: none;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 19.2px;
  text-transform: none;
}

.description {
  column-count: 2;
  margin-top: 48px;
}
@media (max-width: 414px) {
  .description {
    display: flex;
    flex-direction: column-reverse;
  }
}

.img-app {
  margin-left: 144px;
}
@media (max-width: 414px) {
  .img-app {
    margin: 0;
  }
}

@media (max-width: 414px) {
  .text-button {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 414px) {
  .text-app {
    width: 374px;
  }
}

@media (max-width: 414px) {
  .txt-app {
    flex-direction: column-reverse;
  }
}

.page-app {
  margin-bottom: 100px;
}

.footer {
  display: grid;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-title {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin: 0;
}

.footer-flex {
  display: flex;
}

.coloumn {
  width: 270px;
}

.coloumn2 {
  margin-left: 40px;
  margin-right: 40px;
}

.footer-img {
  display: flex;
}

.twitter {
  margin: 0 24px 0 24px;
}

.coloumn3 {
  margin-left: 40px;
}

.main-f {
  margin-top: 62px;
}

.footer-contacts {
  margin-bottom: 72px;
}

.border {
  width: 100vw;
  height: 1px;
  background-color: #CACACA;
  margin-top: 72px;
}

.footer-and {
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
